// *{
//   color: white;
// }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
body{
  font-family: 'Montserrat';
    background-color: #000;
    // color: white;
}
ul a:hover{
color: white !important;
}
nav li{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color:#FBC02D !important;

}
li > a:after{
  content: '';
  display: block;
  height: 1.5px;
  background: #FBC02D;
  transform: scaleX(0);
  transition: transform .3s;
}
li > a:hover:after{
  transform: scaleX(1);
  transition: transform .3s;
}


*{color:white;}

nav {
  background-color: #563d7c;
}

// ul a:after{
  // color: #000;
// }

// @media (ul li a color:#FBC02D){
  // color:black;
// }
.router-link-active{

  background-color: #FBC02D;
  color:black !important;
}

