::ng-deep nb-layout-column {
  height: 80vw;
}

.btnrow{
  margin: 0vh 2vh;
}

nb-card
{
  align-items: center;
}

a:hover
{
  background-color:#6f42c1 !important;
  border-color: #6f42c1  !important;

}

a:active{
  background-color:#6f42c1 !important;
  border-color: #6f42c1  !important;
  // color: ;

}



// a:active{
//   background-color:#6f42c1 !important;
//   border-color: #6f42c1;
// }
